# Created by gitignore.online Generator
# Date: 2026-07-30

### Windows ###
# Windows image databases
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Folder config files
desktop.ini

# Recycle Bin contents
$RECYCLE.BIN/

# Windows Shortcuts
*.lnk

### Visual Studio Code ###
# VS Code editor settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/code-snippets

# Local history
.history/